<div class="navbar-wrapper">
    <div class="navbar-item navbar-item-home" (click)="toHome()">
        <div class="navbar-item-inner">HOME</div>
    </div>
    <div class="navbar-item navbar-item-news" (click)="toNews()">
        <div class="navbar-item-inner">NEWS</div>
    </div>
    <div class="navbar-item navbar-item-shop" (click)="toShop()">
        <div class="navbar-item-inner">SHOP</div>
    </div>
    <div class="navbar-item" routerLink="/about">
        <div class="navbar-item-inner">ABOUT</div>
    </div>
</div>

<div class="navbar-wrapper-copy">
    <div class="navbar-item navbar-item-home" (click)="toHome()">
        <div class="navbar-item-inner">HOME</div>
    </div>
    <div class="navbar-item navbar-item-news" (click)="toNews()">
        <div class="navbar-item-inner">NEWS</div>
    </div>
    <div class="navbar-item navbar-item-shop" (click)="toShop()">
        <div class="navbar-item-inner">SHOP</div>
    </div>
    <div class="navbar-item" routerLink="/about">
        <div class="navbar-item-inner">ABOUT</div>
    </div>
</div>
